@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(204, 0, 0, 0.7);
  --left-button-hover-color: rgba(255, 102, 102, 0.3);
  --middle-bg-color: rgba(43, 43, 43, 0.8);
  --middle-button-hover-color: rgba(92, 92, 92, 0.3);
  --right-bg-color: rgba(0, 76, 153, 0.8);
  --right-button-hover-color: rgba(51, 153, 255, 0.3);
  --hover-width: 50%;
  --other-width: 25%;
  --other-other-width: 25%;
  --speed: 1000ms;
}

/* Global */

html, body, #root {
  padding:0;
  margin:0;
  text-rendering: optimizeLegibility;
  height: 100%;
  background-color: #eee;
}

a:link{
  text-decoration: none!important;
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.middle .button:hover {
  background-color: var(--middle-button-hover-color);
  border-color: var(--middle-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

/* Big screen */

@media(min-width: 801px) {

  h1.landing {
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
    font-family: 'Roboto', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .split.left {
    width: 25%;
  }

  .split.right {
    width: 25%;
  }

  .split.left {
    left:0;
    background: url('book.jpeg') center center no-repeat;
    background-size: cover;
    z-index: 2;
  }

  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }

  .split.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('code.png') center center no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .split.middle:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--middle-bg-color);
  }

  .split.right {
    right:0;
    background: url('movie.jpg') center center no-repeat;
    background-size: cover;
    z-index: 2;
  }

  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }

  .split.left, .split.right, .split.middle:before, .split.middle, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }

  .hover-left .left {
    width: var(--hover-width);
  }

  .hover-left .middle {
    width: var(--hover-width);
  }

  .hover-left .right {
    width: var(--other-width);
  }

  .hover-left .middle:before .right:before {
    z-index: 20;
  }

  .hover-middle .middle {
    width: 50%;
  }

  .hover-middle .left {
    width: 25%;
  }

  .hover-middle .right {
    width: 25%;
  }

  .hover-middle .left:before .right:before {
    z-index: 20;
  }

  .hover-right .right {
    width: var(--hover-width);
  }

  .hover-right .middle {
    width: var(--hover-width);
  }

  .hover-right .left {
    width: var(--other-width);
  }

  .hover-right .left:before .middle:before {
    z-index: 20;
  }

}

/* Small Screen */

@media(max-width: 800px) {
  h1.landing {
    font-size: 1.5rem;
    color: #fff;
    z-index: 9001;
    white-space: nowrap;
    color: #fff;
    border: #fff solid 0.2rem;
    padding: 0.7rem;
  }

  .button {
    display: none;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
    font-family: 'Roboto', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .split {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33%;
    overflow: hidden;
  }

  .split.left {
    background: url('book.jpeg') center center no-repeat;
    background-size: cover;
  }


  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 33%;
    background: var(--left-bg-color);
  }


  .split.middle {
    background: url('code.png') center center no-repeat;
    background-size: cover;
    height: 34%;
  }


  .split.middle:before {
    position:absolute; 
    content: "";
    width: 100%;
    height: 34%;
    background: var(--middle-bg-color);
  }


  .split.right {
    background: url('movie.jpg') center center no-repeat;
    background-size: cover;
  }

  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 33%;
    background: var(--right-bg-color);
  }


}
